
*.mp4
*.DS_Store
.DS_Store
ball-tracking-backboard/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
ball-tracking-backboard/yolo-coco/coco.names
ball-tracking-backboard/yolo-coco/yolov3.cfg
ball-tracking-backboard/yolo-coco/yolov3.weights
ball-tracking-backboard/yolo-coco/yolov3-tiny.weights
*.pyc
ball-tracking-backboard/curve.jpg
ball-tracking-backboard/detected_0.jpg
